
.photo {
    height: 475px;
    width: 725px;
    
  }
  div.polaroid {
    width: 725px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  div.hello {
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    
  }
  