<!DOCTYPE html>
<html>
    <head>
        <title>
            Contact
            <link rel="stylesheet" type="text/css" href="rating.css">
        </title>
    </head>
    <body style="color:white;background-image: url('../images/background.jpg');background-size: cover;background-repeat: no-repeat;">
    <div style=" max-width:fit-content;margin-right: auto;margin-left: auto;background-color:black;">
        <form action="/files/success.html">
            <fieldset>
                <legend>Personal information</legend>
            First name:<br>
            <input type="text" name="firstname" value="John"><br>
            Last name:<br>
            <input type="text" name="lastname" value="Wick"><br><br>
            </fieldset>
            <fieldset>
                <legend>Contact</legend>
            E-mail:<br>
            <input type="text" name="email" value="example@gmail.com"><br><br>
            Phone number:<br>
            <input type="tel" name="phone number" value="+91">
            <input type="number" name="phone number" value="7871151617"><br><br>
            </fieldset>
            <fieldset>
            
            Comment:<br>
            <textarea name="comment" id="" cols="30" rows="10"></textarea><br><br>

            <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
              </div><br>
                <input type="submit" value="Submit" >
            
            <p>If you need any information send mail</p>

        <a href="mailto:harishramaraj13@gmail.com">Report via mail</a><br>

        </fieldset>
        </form>
        
    </div>
    </body>
</html>